hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: rgb(180, 182, 182);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card-no-desc {
    text-align: center;
    height: 90px;
}

.card-desc {
    margin-top: 5px;
    font-size: 18px;
    font-family: "Ubuntu";
    text-align: center;
}