<div class="options-container">
    <div class="row play-buttons">
        <div class="col col-md-6 option-div">
            <a routerLink="/add-puzzle">
                <i class="fas fa-puzzle-piece icon-opt"></i>
                <p class="button-text">
                        Add a puzzle
                </p>
            </a>
        </div>
        <div class="col col-md-6 option-div">
            <a routerLink="/add-opening">
                <i class="fas fa-chess-board icon-opt"></i>
                <p class="button-text">
                        Add an opening
                </p>
            </a>
        </div> 
    </div>  
</div>
