.login-container{
    color:#D1E8E2;

    height:300px;
    margin-bottom:20px;
    text-align:center;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background-color: rgb(7, 57, 58);

}
.post {
    width: 100%;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background-color: rgb(7, 57, 58);
    margin-bottom: 20px;
    border-radius: 10px;
    color:whitesmoke;
}

.post .post-img:hover a img {
    opacity: 0.7;
}

.post .post-img a img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: auto;
    border-radius: 10px;

}


.post .caption {
    float: left;
    width: 100%;
    padding: 25px 25px;
}

.post .caption h3 a {
    color:rgb(149, 214, 211);
    font-weight: 300;
    font-size: 30px;
    text-decoration: none;
}

.post .caption p {
    font-size: 20px;
}
.post .caption .btn-div{
    font-size: 20px;
    text-align:center;

}
.post .caption .btn-div a{
    font-size: 20px;
    color:rgb(126, 125, 125);
}

.post .caption .btn-div a:hover{
    color:rgb(209, 207, 207);

}
.post .author-info {
    padding: 15px 15px 15px 15px;
    text-align: center;
    min-height: 60px;
    float: left;
    width: 100%;
  

}
.post .author-info  p {
    color:#45A29E;
    font-size: 22px;
}

hr{
    border-style:none;
    border-top-style: dotted;
    border-width:5px;
    border-color:rgb(180, 182, 182);
    width:50%;
    margin-top:20px;
    margin-bottom:20px;

  }
