<div class="options-container">
    <div class="row play-buttons">
        <div class="col col-md-6 option-div">
            <a routerLink="tactics">
                <i class="fas fa-puzzle-piece icon-opt"></i>
                <p class="button-text">
                        Tactics
                </p>
            </a>
        </div>
        <div class="col col-md-6 option-div">
            <a routerLink="openings">
                <i class="fas fa-chess-board icon-opt"></i>
                <p class="button-text">
                        Openings
                </p>
            </a>
        </div> 
    </div>  
</div>
